name: Mirror from SVN

on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
  - cron: '10 */10 * * *' # every hour to keep cache up to date

jobs:
  update-svn-cache:
    uses: ./.github/workflows/cache.yml
    secrets: inherit

  publish-mirror:
    needs: update-svn-cache
    runs-on: ubuntu-latest
    continue-on-error: true
    if: needs.update-svn-cache.outputs.SVN_FETCH_STATUS == 'complete'

    steps:

      - name: install git-svn package
        run: |
          sudo apt-get remove git git-man
          sudo apt-get update
          sudo apt-get install subversion git-svn -y --no-install-recommends

      - name: Get current date as seconds
        id: get-date
        run: |
          echo "timestamp=$(/bin/date -u "+%Y%m%d%H" )" >> $GITHUB_OUTPUT
        shell: bash

      - name: create tmpfs for svn repo
        run: |
          mkdir -p ./src/fhem-mirror
          sudo mount -t tmpfs -o size=3G tmpfs ./src/fhem-mirror

      - name: Restore cache
        uses: actions/cache/restore@v4
        with:
          path: ./src/fhem-mirror/.git
          key: ${{ runner.os }}-fhemsvndir-${{ steps.get-date.outputs.timestamp }}
          restore-keys: |
            ${{ runner.os }}-fhemsvndir-

      - name: Reset git pointer
        working-directory: ./src/fhem-mirror
        run: |
           git config --global user.email "actions@gitbhub.com"
           git config --global user.name "Github Actions"
           git config --global --add safe.directory "*"
           if [ -d ".git" ]; then
             git checkout master || git checkout -b master
             git reset --hard remotes/svn/trunk
           else
             echo "Error: .git directory not found after cache restore."
             exit 1
           fi

      - name: Recreate tags from svn
        working-directory: ./src/fhem-mirror
        run: |
           git for-each-ref --format="%(refname:lstrip=-1) %(objectname)" refs/remotes/svn/tags/FHEM_*_?  \
           | while read BRANCH REF
             do
               TAG_NAME=${BRANCH#FHEM_}
               TAG_NAME=$(echo $TAG_NAME | sed 's/_/./g')
               BODY="$(git log -1 --format=format:%B $REF)"
               echo "branch=$BRANCH ref=$REF parent=$(git rev-parse $REF^) tagname=$TAG_NAME body=$BODY" >&2
               git tag -a -f -m "$BODY" $TAG_NAME $REF^  
               # git branch -r -d origin/tags/$BRANCH
            done

      #- name: push tags and commits into master branch (force)
      #    path: ./svnMirror.tar


      - name: Verify no fetch error state
        if: ${{ steps.fetchsvn.outputs.SVN_FETCH_STATUS == 'error' }}
        run: |
          echo "A permanent error occured"
          exit 1

      - name: Recreate tags from svn
        if: ${{ steps.fetchsvn.outputs.SVN_FETCH_STATUS == 'complete' }}
        working-directory: ./src/fhem-mirror
        run: |
           git for-each-ref --format="%(refname:lstrip=-1) %(objectname)" refs/remotes/svn/tags/FHEM_*_?  \
           | while read BRANCH REF
             do
               TAG_NAME=${BRANCH#FHEM_}
               TAG_NAME=$(echo $TAG_NAME | sed 's/_/./g')
               BODY="$(git log -1 --format=format:%B $REF)"
               echo "branch=$BRANCH ref=$REF parent=$(git rev-parse $REF^) tagname=$TAG_NAME body=$BODY" >&2
               git tag -a -f -m "$BODY" $TAG_NAME $REF^  
               # git branch -r -d origin/tags/$BRANCH
            done

      - name: push tags and commits into master branch (force)
        if: ${{ steps.fetchsvn.outputs.SVN_FETCH_STATUS == 'complete' }}
        working-directory: ./src/fhem-mirror
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} || git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git fetch --unshallow || true
          git push origin master --force --tags
          
